.header {
  padding: 19px 0;
  background-color: $black;
  position: relative;
  border-top: 0.5px solid $gray;
  border-bottom: 0.5px solid $gray;
  z-index: 99;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-left,
  &-right {
    display: flex;
    align-items: center;
  }

  &-logo {
    transition: linear 0.2s;

    &:hover {
      opacity: 0.7;
    }

    &--image {
      height: 32px;
    }
  }

  &-help {
    display: flex;
    margin-left: 12.8px;
    padding-left: 12.8px;
    border-left: 2px solid $white;

    &--h3 {
      text-transform: capitalize;

      &:hover {
        text-decoration-color: $heading-color;
        text-decoration: underline;
      }
    }
  }

  &-search--icon {
    display: none;
  }

  &-hamburger {
    display: none;
    position: relative;
  }

  &-menu {
    &--ul {
      padding: 50px 0;
      background-color: $black;
      text-align: center;
    }

    &--li {
      max-width: 485px;
      padding: 16px 0;
      margin: 0 auto;
    }

    &--li-first {
      border-bottom: 1px solid $gray;
    }

    &--a {
      font-size: 1.5rem !important;
      font-weight: 400 !important;
      // transition: all 0.5s;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  @include tablet {
    &-right {
      display: none;
    }

    &-hamburger {
      display: block;
    }

    &-search--icon {
      display: block;
      position: absolute;
      top: 24px;
      right: 115px;
      cursor: pointer;

      i {
        color: $white;
        font-size: 1.5rem;

      }
    }
  }

  @media (max-width: $sm) {
    height: 100px;

    &-container {
      display: block;
    }

    &-search--icon {

      top: 58px;
      left: 16px;

    }
  }

  @media (max-width: 320px) {

    &-help {
      &--h3 {
        font-size: 1rem;
      }
    }
  }
}