.help-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    i {
        font-size: 0.8rem;
        font-weight: bold;
        color: $white;
        padding: 7px;
        border: 1px solid $white;
        border-radius: 50%;
    }
}