$xxl: 1024px;
$xl: 1023px;
$md: 767px;
$sm: 576px;
$xs: 0;

@mixin mobile {
  @media (max-width: #{$md}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$xl}) {
    @content;
  }
}



@mixin desktop {
  @media (min-width: #{$xxl}) {
    @content;
  }
}