.service {
    padding-top: 190px;
    padding-bottom: 130px;
    background-color: $white;

    &-container {
        max-width: 1450px;
        margin: 0 auto;
    }

    &-list {
        display: flex;
        margin-bottom: 100px;
        gap: 0 10px;
    }

    &-item {
        display: flex;
        gap: 0 30px;

        &--logo {
            height: 81px;
        }
    }

    &-item--right {
        max-width: 570px;
    }

    &-heading,
    &-text {
        font-size: 1.5rem;
        font-weight: 700;
        color: $text-color;
        line-height: 2rem;
        margin-bottom: 1rem;
    }

    &-text {
        font-weight: 400;
        margin-bottom: 20px;
    }

    &-learn {
        font-size: 1.25rem;
        font-weight: 400;
        color: $text-blue-color;
        transition: linear 0.2s;

        &:hover {
            text-decoration: underline;
        }
    }

    @media (max-width: 576px) {
        &-item {
            &--logo {
                height: 51px;
            }
        }
    }

    @include mobile {
        padding-top: 105px;

        &-list {
            display: block;
            margin-bottom: 0;
        }

        &-item {
            margin-bottom: 105px;
        }

        &-item--right {
            max-width: 425px;
        }
    }

    @media (max-width: 992px) {
        &-container {
            max-width: 635px !important;
        }

        &-item--right {
            max-width: 295px !important;
        }
    }

    @include tablet {
        padding-bottom: 0;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    @media (max-width: 1440px) {
        &-container {
            max-width: 920px;
        }

        &-item--right {
            max-width: 375px;
        }
    }
}