//font
$font: 'Roboto', sans-serif;

//headings
$heading-color: #fff;
$text-color: #191a1b;
$text-blue-color: #4c5fd5;

//colors
$blue: #4c5fd5;
$white: #fff;
$black: #000;
$gray: #8C8D8D;

//background colors
$bg-blue: #4c5fd5;
$bg-light-violet: #dadbf1;