//font

@font-face {
  font-family: "GT America Standard";
  src: url("./../assets/fonts/GT-America-Standard-Regular-Trial.otf");
}

$font-thin: "GT-America-Standard-Thin-Trial";
$font: "GT America Standard", sans-serif;
$font-bold: "GT-America-Standard-Bold-Trial";

//headings
$heading-color: #fff;
$text-color: #191a1b;
$text-blue-color: #4c5fd5;

//colors
$blue: #4c5fd5;
$white: #fff;
$black: #000;
$gray: #8c8d8d;

//background colors
$bg-blue: #4c5fd5;
$bg-light-violet: #dadbf1;
